body {
    font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

footer,
header,
main {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    max-width: 700px;
    width: calc(100% - 32px);
}

main {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

blockquote {
    font-size: 1.0em;
    padding: 1.0rem 0.5rem;
}

.home {
    margin-right: 24px;
}

nav a {
    margin-right: 12px;
}



/* FIXME: Still used? */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article p>img {
    max-height: 500px;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}


h1 {
    font-weight: 400;
}

h1 a { text-decoration: none; }
h1 a:hover { text-decoration: underline; }

p, li {
    font-size: 1rem;
    line-height: 1.825em;
}

/* Override MVP.css inline-block links for better text flow */
main a {
    display: inline;
}

/* Responsive weeknotes table */
table {
    width: 100%;
}

@media (max-width: 500px) {
    table td {
        display: block;
        padding: 0.5rem 0;
    }
    table tr {
        display: block;
        margin-bottom: 0.5rem;
    }
}

/* Section spacing */
h3 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
}

h3:first-of-type {
    margin-top: 1.5rem;
}

.book-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book {
    padding: 20px;
    max-width: 120px;
}

.book img {
    max-width: 120px;
}

.book .title {
    font-size: 1rem;
}

.book .subtitle {
    font-size: 0.8rem;
}

.published-date {
    font-size: 0.8rem;
}


/* Customizations for pygments code rendering */
pre {
    margin: 1rem;
}
.code {
    background-color: #262626;
    -webkit-overflow-scrolling: touch;
}

/* pygments (or Markdown, unsure) adds a <br> at the end of each code block
 * and it's not necessary. Hide only the last one */
.code br:last-of-type {
    display: none;
}

/* Image galleries. Use like so:
* <div class="grid">
  <div class="item left">
    <img src="/night_sky.jpg">
  </div>
  <div class="item upper_right">
    <img src="/jupiter.jpg">
  </div>
  <div class="item lower_right">
    <img src="/iss.jpg">
  </div>
</div>
*
* Ref:
* https://alexwlchan.net/2022/supposedly-simple-image-layout/
*/
.grid {
  display: grid;
  grid-template-columns: calc(66% - 5px) calc(34% - 5px);
  grid-template-rows:    calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  aspect-ratio: 16 / 9;
}

.grid .left {
  grid-column: 1 / 2;
  grid-row:    1 / span 2;
}

.grid .upper_right {
  grid-column: 2 / 2;
  grid-row:    1 / 2;
}

.grid .lower_right {
  grid-column: 2 / 2;
  grid-row:    2 / 2;
}

.grid .item img {
  width:  100%;
  height: 100%;
  object-fit: cover;
}
