body {
    font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer,
header,
main {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    max-width: 700px;
    width: calc(100% - 32px);
}

main {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    height: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

blockquote {
    font-size: 1.0em;
    padding: 1.0rem 0.5rem;
}

.home {
    margin-right: 24px;
}

nav a {
    margin-right: 12px;
}



/* FIXME: Still used? */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article p>img {
    max-height: 500px;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}


h1 {
    font-weight: 400;
}

h1 a { text-decoration: none; }
h1 a:hover { text-decoration: underline; }

p, li {
    font-size: 1rem;
    line-height: 1.825em;
}

.book-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book {
    padding: 20px;
    max-width: 120px;
}

.book img {
    max-width: 120px;
}

.book .title {
    font-size: 1rem;
}

.book .subtitle {
    font-size: 0.8rem;
}

.published-date {
    font-size: 0.8rem;
}


/* Customizations for pygments code rendering */
pre {
    margin: 1rem;
}
.code {
    background-color: #262626;
    -webkit-overflow-scrolling: touch;
}

/* pygments (or Markdown, unsure) adds a <br> at the end of each code block
 * and it's not necessary. Hide only the last one */
.code br:last-of-type {
    display: none;
}
