title: Books I've enjoyed
date: 08-07-2024
data: data/books.yaml
---

<h2>Book Shelf</h2>

<div class='book-shelf'>
  {% for book in books|sort(attribute="date", reverse=True) %}
  <div class='book'>
    <a href='{{ book.goodreads_url }}'><img src='{{ book.cover_url }}'></a>
    <p>{{ book.title }}</p>
    <p class='subtitle'>{{ book.category }} (Added {{ book.date }})</p>
  </div>
  {% endfor %}
</div>
