title: Books I've read (partially and fully)
date: 09-03-2020
data: data/books.json
---

<p>I've set a goal of reading 12 books in 2020. On this page, I list the books I
have read, am reading, or failed to read (started, couldn't finish)</p>

<p>I have a bad habit of reading plenty of 5-10 minute pieces, love anything
technical, and consume plenty of podcasts. However,
I struggle to sit down with a book. Taking my time back is an important goal of
2020 for me, hence the need to sit down and read.</p>

<h2>2020 Book shelf</h2>

<div class='book-shelf'>
  {% for book in books %}
  <div class='book'>
    <a href='{{ book.GoodreadsURL }}'><img src='{{ book.CoverURL }}'></a>
    <p>{{ book.Title }}</p>
    <p class='subtitle'>{{ book.Status }}</p>
  </div>
  {% endfor %}
</div>
