title: Books I've read (partially and fully)
date: 09-03-2020
data: data/books.json
---

<ul>
<li>In 2020, I set a goal to read 12 books. To many people, that's not much but I hadn't completed a book in awhile (mostly using my reading capacity for online articles). I logged 13, completed 11 of those (or 3,395 pages), and started a couple more.</li>
<li>I haven't set a goal in 2021 but continue to dedicate time to reading. We'll see how it goes!</li>
</li>

<h2>Book Shelf</h2>

<div class='book-shelf'>
  {% for book in books|sort(attribute="Date", reverse=True) %}
  <div class='book'>
    <a href='{{ book.GoodreadsURL }}'><img src='{{ book.CoverURL }}'></a>
    <p>{{ book.Title }}</p>
    <p class='subtitle'>{{ book.Status }} (Added {{ book.Date }})</p>
  </div>
  {% endfor %}
</div>
