<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title> Bartek Ciszkowski </title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/pygments.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
    {% block title %}
      <h1><a href='{{ url_for("index") }}'>👋 Hello, I'm Bartek</a></h1>
    {% endblock %}
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
</body>
</html>

