{% extends "base.html" %}

{% block content %}
    <p>I'm a 30-something Polish Canadian currently residing in Halifax, Nova
    Scotia (likely my forever home!) with my wife and two kids. I spend most of
    my time being a father, and otherwise find interest in startups, home
    cooking, travel, and urbanism.</p>

    <h3>A little more about me</h3>

    <p>During the day, I work at <a href='https://www.atolio.com/'>Atolio</a>, where we're fixing the painful process of searching for — and never finding — the information that you know is somewhere within the silos of your organization. Previously, I spent time at <a href='https://www.wattpad.com'>Wattpad</a> and many years at <a href='{{ url_for("page", path="/gadventures") }}'>G Adventures</a></p>

    <p>I maintain a <a href='{{ url_for("page", path="/books") }}'>virtual book
        shelf</a> to keep track of my reading and in a small way, keep me
    accountable (to read more)</p>

    <h3>weeknotes</h3>
    <p>an attempt to capture weekly thoughts, learnings, questions</p>
    <table>
        <tr>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk1") }}">WK1</a></td>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk2") }}">WK2</a></td>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk3") }}">WK3</a></td>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk4") }}">WK4</a></td>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk5") }}">WK5</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk6") }}">WK6</a></td>
            <td><a href="{{ url_for("page_with_prefix", path="weeknotes-wk7") }}">WK7</a></td>
        </tr>
    </table>

    <h3>Blog</h3>

    <ul>
        <li><a href='{{ url_for("page_with_prefix", path="food-notes") }}'>foodnotes</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="1300") }}'>1,300</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="git-fixup") }}'>Refining my git workflow with --fixup</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="wisdom") }}'>Developing Wisdom</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="golang-context-wg-go-routines") }}'>Using Go's Context and WaitGroup to gracefully handle goroutines</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="aws-good-parts") }}'>the good parts of aws</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="analytics-without-google") }}'>analytics without google</a></li>
        <li><a href='{{ url_for("page_with_prefix", path="tasklist") }}'>the task list</a></li>
    </ul>

    <h3>You can also find me here:</h3>

    <ul>
        <li><a href='https://github.com/bartek'>github/bartek</a></li>
        <li><a href='https://twitter.com/bartekci'>twitter/bartekci</a></li>
        <li><a rel='me' href='https://m.justbartek.ca/@bartek'>@bartek@justbartek.ca</a></li>
        <li><a href='https://stackoverflow.com/users/95509/bartek'>stack overflow</a></li>
    </ul>

    <p>Although I have lingering profiles on Facebook and LinkedIn, I do not
    actively use them.</p>

    <p>Want to get in touch? <a href='mailto:hello@justbartek.ca'>Email</a> is best.</p>
{% endblock %}
