{% extends "base.html" %}

{% block content %}
    <p>I'm a 30-something Polish dude raised mostly in Toronto, Canada, currently living
    in Boston, Massachusetts. Apart from building software, I spend most of my
    time being a loving father, cooking, travelling, and nerding out over
    transportation systems.</p>

    <h3>A little more about me</h3>

    <p>I work at <a href='https://www.gadventures.com'>G Adventures</a>, a
    sustainable tourism company working hard to make the world a better place.
    I've been there longer than I ever anticipated, but the challenges keep
    coming. Want to work with us? <a href='mailto:hello@justbartek.ca'>Talk to me</a>.</p>

    <p>I'm currently reading Edward Snowden's <a href='https://en.wikipedia.org/wiki/Permanent_Record_(autobiography)'>Permanent Record</a></p>

    <p>My current project revolves around improving the ability for
    documentation to be discovered and connected within an organization. I hope
    to have more to share soon.</p>

    <p>My current travel ambitions are to see more of the United States, now
    that I'm here (since September 2019)</p>

    <p>I mostly read endless technical, non-fiction and use movies as a means of
    escape. Regardless, I am compiling what I've enjoyed reading <a href='{{
    url_for("page", path="/books") }}'>here</a></p>

    <p>You can also find me here:</p>

    <ul>
        <li><a href='https://github.com/bartek'>github/bartek</a></li>
        <li><a href='https://twitter.com/bartekci'>twitter/bartekci</a></li>
        <li><a href='https://stackoverflow.com/users/95509/bartek'>stack overflow</a></li>
        <li><a href='https://familymeals.substack.com'>family meal night blog</a></li>
    </ul>

    <p>Although I have lingering profiles on Facebook and LinkedIn, I do not
    actively use them, so please do not send me messages there.</p>

    <p>Want to get in touch? <a href='mailto:hello@justbartek.ca'>Email</a> is best.</p>
{% endblock %}
