{% extends "base.html" %}

{% block content %}
    <p>I'm a 30-something Polish-Canadian dude who's lived in many places and visited
    plenty more. Toronto, Boston, and currently Halifax, Nova Scotia. Apart
    from building software, I spend most of my time being a loving father,
    cooking, travelling, and nerding out over transportation systems.</p>

    <h3>A little more about me</h3>

    <p>I work at <a href='https://www.gadventures.com'>G Adventures</a>, a
    travel company focused on community tourism and using travel as a means of wealth distribution.

    I've been at G for awhile and have compiled a mini G resume, <a href='{{ url_for("page", path="/gadventures") }}'>here</a>

    <p>I like to read, but always feel I should do more. <a href='{{ url_for("page", path="/books") }}'>For 2020, I've compiled a virtual book shelf</a></p>

    <h3>Active projects</h3>

    <ul>
        <li><a href='https://freethedocs.app'>free the docs</a></li>
        <li><a href='https://bartekci.substack.com'>engineering management, activate!</a> (my blog on management)</li>
    </ul>

    <h3>Posts</h3>

    <ul>
        <li><a href='{{ url_for("page_with_prefix", path="analytics-without-google") }}'>analytics without google</a> (June 2020)</li>
        <li><a href='{{ url_for("page_with_prefix", path="tasklist") }}'>the task list</a> (June 2020)</li>
    </ul>

    <h3>You can also find me here:</h3>

    <ul>
        <li><a href='https://github.com/bartek'>github/bartek</a></li>
        <li><a href='https://twitter.com/bartekci'>twitter/bartekci</a></li>
        <li><a href='https://stackoverflow.com/users/95509/bartek'>stack overflow</a></li>
    </ul>

    <p>Although I have lingering profiles on Facebook and LinkedIn, I do not
    actively use them.</p>

    <p>Want to get in touch? <a href='mailto:hello@justbartek.ca'>Email</a> is best.</p>
{% endblock %}
